@model EntityLayer.Concrete.MessageConnection

@{
    ViewData["Title"] = "SendMessage";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<h1>Yeni Mesaj Oluşturma</h1>
<br>
@using (Html.BeginForm("SendMessage", "Message", FormMethod.Post))
{
	@Html.Label("Alıcı")
@* 	@Html.TextBoxFor(x => x.Subject, new { @class = "form-control" })*@
	<input class="form-control" type="text"/>
	<br>
	@Html.Label("Konu")
	@Html.TextBoxFor(x => x.Subject, new { @class = "form-control" })
	<br>
	@Html.Label("Mesajınız")
	@Html.TextAreaFor(x => x.MessageDetails, 15, 3, new { @class = "form-control" })
	<br>
	<button class="btn btn-primary">Mesajı Gönder</button>
}

